/**** Source: https://www.thesitewizard.com/css/mobile-friendly-responsive-design.shtml ****/
/* CSS for screens that are 320 pixels or less will be put in this section */
@media screen and (max-width:320px) {
	body {
		font-size: 75%;
	}
	.container {
		width: 100%;
		height: auto;
		margin: 0px auto;
	}
	.InfoPosition {
		margin: 0px auto;
		padding: 8px 20px;
	}

	p.TextMask {
		font-size: 14px;
	}
	.circle {
	  width: 220px;
	  height: 220px;
	  top: 40px;
	  margin-top: 16px;
	  margin-bottom: 25px;
	  margin-right: auto;
	  margin-left: auto;
	}
}

/* for screens that are at least 321 pixels wide but less than or equal to 360 pixels wide */
@media screen and (min-width: 321px) and (max-width: 360px) {
	body {
		font-size: 75%;
	}
	.container {
		width: 100%;
		height: 100%;
		margin: 0px auto;
	}
	.InfoPosition {
		margin: 0px auto;
		padding: 10px 10px;
	}

	p.TextMask {
		font-size: 17px;
	}
	.circle {
	  width: 65%;
	  height: 65%;
	  top: 0px;
	  margin-top: 16px;
	  /* margin-bottom: 25px; */
	  margin-right: auto;
	  margin-left: auto;
	}
}
/* for screens that are at least 361 pixels wide but less than or equal to 414 pixels wide */
@media screen and (min-width: 361px) and (max-width: 414px) {
	body {
		font-size: 65%;
	}
	.container {
		width: 100%;
		height: auto;
		margin: 0px auto;
	}
	.InfoPosition {
		margin: 0px auto;
		padding: 10px 10px;
	}

	p.TextMask {
		font-size: 1.7em;
	}
	.circle {
	  width: 65%;
	  height: 65%;
	  top: 20%;
	  margin-top: 16px;
	  /* margin-bottom: 25px; */
	  margin-right: auto;
	  margin-left: auto;
	}
}

@media screen and (max-width: 500px) {
	.MainName {
		display: none;	
	}

	.SubName {	
		display: block;
		font-size: 35px;
	}
	.JobTitles {
		font-size: 20px;
	}
}

@media screen and (min-width: 415px) and (max-width: 768px) {
	body {
		font-size: 60%;
	}
	.container {
		width: 100%;
		height: auto;
		margin: 0px auto;
	}
	.InfoPosition {
		margin-top: 0px;
		margin-bottom: 0px;
		margin-right: auto;
		margin-left: auto;
		padding: 10px 15px;		
	}

	p.TextMask {
		font-size: 2.0em;
	}
	.circle {
		position: relative;
		width: 55%;
		height: 55%;
		top: 40%;
		margin-top: 16px;
		/* margin-bottom: 25px; */
		margin-right: auto;
		margin-left: auto;
	}
}
@media screen and (min-width: 672px) and (max-width: 768px) {
	.circle {
		width: 360px;
		height: 360px;
		margin-bottom: 10px;
	}
}

@media screen and (min-width: 769px) and (max-width:1024px) {
	body {
		font-size: 75%;
	}
	#centeredmenu {	
		width: 100%;
		margin: 0px auto;
		padding-bottom: 16px;
	}
	#centeredmenu ul li a {
		font-size: 4.7em;
	}
	.container {
		width: 100%;
		height: auto;
		margin: 0px auto;
	}
	.InfoPosition {
		margin: 0 auto;
		padding: 10px 15px;	
	}

	p.TextMask {
		font-size: 1.5em;
	}
	.circle {
		position: relative;
		width: 360px;
		height: 360px;
		top: 40%;
		margin-top: 16px;
		margin-bottom: 25px;
		margin-right: auto;
		margin-left: auto;
	}
}

@media screen and (min-width: 817px) and (max-width:1024px) {
	.container {
		width: 800px;
		height: auto;
		margin: 0px auto;
	}
}